<div class="jumbotron">
  <h1 style="text-align:center" class="display-3">What is Exchanged?</h1>
  <p class="lead">Exchanged is the place where tutors can connect with each other and share and exchange resources.  One of the biggest problems further education tutors face is one of resource creation and sharing.
    Quite often a valuable resource is already being used by some one else who would love to exchange their resource with your, hence saving everyone time and allowing you to concentrate on teaching</p>
  <hr class="my-2">
  <p style="text-align:center">Just follow these steps to get started.</p>
  <ul class="list-group">
  <li class="list-group-item">Step One:  Register as a user</li>
  <li class="list-group-item">Step Two: Upload a resource</li>
  <li class="list-group-item">Step Three: Download a resource you need and leave a rating</li>
  <li class="list-group-item">You will be able to keep on downloading resources as often as you want as long as your ratio of uploaded resources divided by your 
                              downloaded resources is at least .75</li>

</ul>
  <p class="lead">
    <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>    



