 <div class="jumbotron">
    <h1 style="text-align:center" class="display-3">Terms and Conditions of use
    </h1>
        <p class="lead">As a user of the site you agree to the following:
         </p>
           <hr class="my-2">

           <ul class="list-group">
              <li class="list-group-item">That you accept that you have the original copyright to all materials that you put up on the site.</li>
              <li class="list-group-item">That you will treat all users of the site in a respectful and professional manner</li>
            </ul>
     <p class="lead">
       <%= link_to "Home", root_path, class: "btn btn-primary btn-lg" %>
     </p>
</div>    